<!DOCTYPE html>
<html lang="en">
<head>

    @RenderSection("scripts", required: false)

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/assets/libs/js/main-js.js"></script>
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/datatables/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/datatables/css/fixedHeader.bootstrap4.css">
    <title>@ViewBag.Title</title>
    <style>

        .rotate {
            -moz-transition: all .5s linear;
            -webkit-transition: all .5s linear;
            transition: all .5s linear;
            cursor: pointer;
        }

            .rotate.down {
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        /* ---------------------------------------------------
            SIDEBAR STYLE
        ----------------------------------------------------- */

        #rightsidebar {
            position: fixed;
            width: 400px;
            right: -400px;
            top: 68px;
            z-index: 1032;
            height: 100vh;
            background: #f8f8f8;
            color: #000000;
            transition: all 0.3s;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        }

            #rightsidebar.active {
                right: 0;
            }

        #dismiss {
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            position: absolute;
            top: 14px;
            right: 10px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }

            #dismiss:hover {
                background: #f8f8f8;
                color: #7386D5;
            }

        .overlay {
            display: none;
            position: fixed;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1029;
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }

            .overlay.active {
                display: block;
                opacity: 1;
            }

        .sidebar-header {
            padding-top: 8px;
            margin-bottom: -9px;
        }

        .column {
            padding: 5px;
        }

        .MP {
            padding: 0 !important;
            margin: 0 !important;
            font-size: 1.04rem;
        }

        .subInfo {
            font-size: 0.98rem;
            color: dimgrey;
            font-weight: lighter !important;
        }

        .btn-primary {
            padding: 9px 13px !important;
        }

        .MP-Available {
            padding-left: 17px;
            padding-top: 12px;
            margin-bottom: 9px;
            color: green;
        }

        .MP-NotAvailable {
            padding-left: 17px;
            padding-top: 27px;
            margin-bottom: 9px;
            color: red;
        }

        .printer {
            border-bottom: 1px solid #e6e6f2;
            width: 350px;
            margin-left: 30px;
            padding-bottom: 10px;
            padding-top: 10px;
        }


        #p3 {
            display: inline;
            margin-right: 44px;
            color: #71748D;
        }

        #p2 {
            padding-top: 19px;
        }

        #p3-noink {
            display: inline;
            margin-right: 46px;
            font-weight: bold;
        }

        #p4 {
            display: inline;
            margin-right: 44px;
            color: #71748D;
        }

        #p4-offline {
            display: inline;
            margin-right: 44px;
            font-weight: bold;
        }

        .modal-confirm {
            color: #636363;
            width: 400px;
            top: 115px;
        }

            .modal-confirm .modal-content {
                border-radius: 5px;
                border: none;
                text-align: center;
                font-size: 14px;
            }

            .modal-confirm .modal-header-delete {
                border-bottom: none;
                position: relative;
            }

            .modal-confirm h4 {
                text-align: center;
                font-size: 26px;
                /*margin: 30px 0 -10px;*/
            }

            .modal-confirm .close {
                top: -5px;
                right: -2px;
                color: white;
                text-shadow: 0 1px 0 #000;
                opacity: 2.5;
            }

            .modal-confirm .modal-body {
                color: #999;
            }

            .modal-confirm .modal-footer {
                border: none;
                text-align: center;
                border-radius: 5px;
                font-size: 13px;
                padding: 10px 70px 25px;
            }

                .modal-confirm .modal-footer a {
                    color: #999;
                }

            .modal-confirm .icon-box {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                border-radius: 50%;
                z-index: 9;
                text-align: center;
                border: 3px solid #f15e5e;
            }

                .modal-confirm .icon-box i {
                    color: #f15e5e;
                    font-size: 46px;
                    display: inline-block;
                    margin-top: 3px;
                    margin-right: 0;
                }

            .modal-confirm .btn {
                color: #fff;
                border-radius: 4px;
                background: #60c7c1;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                min-width: 120px;
                border: none;
                min-height: 40px;
                border-radius: 3px;
                margin: 0 5px;
                outline: none !important;
            }

            .modal-confirm .btn-info {
                background: #c1c1c1;
            }

                .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
                    background: #a8a8a8;
                }

            .modal-confirm .btn-danger {
                background: #f15e5e;
            }

                .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
                    background: #ee3535;
                }

        .trigger-btn {
            display: inline-block;
            margin-left: 13px;
            color: red;
        }

        .modal-header-delete {
            background-color: #f15e5e;
            margin-bottom: 10px;
        }

        .modal-header-edit {
            background-color: cornflowerblue;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

            .modal-header-edit .close {
                color: white;
                text-shadow: 0 1px 0 #000;
                opacity: 2.5;
            }
        /* Container for flexboxes */
        .row {
            display: -webkit-flex;
            display: flex;
        }

        .column.side {
            -webkit-flex: 0.5;
            -ms-flex: 0.5;
            flex: 0.5;
        }

        .column.icon {
            -webkit-flex: 0.1;
            -ms-flex: 0.1;
            flex: 0.1;
            padding-top: 10px;
        }

        .column.middle {
            -webkit-flex: 2;
            -ms-flex: 2;
            flex: 2;
        }
        .nav-item {
            padding-left: 10px;
            padding-right: 10px;
        }
        .navbar-right-top {
            position: absolute;
            right: 10px;
        }
        #logoutBtn:hover {
            color: #ff407b;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="overlay"></div>
    <div class="dashboard-main-wrapper">

        <!-- Sidebar  -->
        <nav id="rightsidebar">
            <div id="dismiss">
                <i class="fas fa-times"></i>
            </div>
            <div class="card-header" style="background-color: #f2f2f3;">
                <div class="sidebar-header">
                    <h3><i class="fas fa-print" style="padding-right: 6px;"></i>Manage Printers</h3>
                </div>
            </div>

            <div>
                <h4 class="MP-Available"><i class="fas fa-check-circle"></i> Available</h4>
                <div id="availableLoading" style="padding: 20px; text-align:center; color:green"><i class="fas fa-spinner fa-spin fa-5x"></i></div>
                <div id="availablePrinters"></div>
            </div>
            <div>
                <h4 class="MP-NotAvailable"><i class="fas fa-times-circle"></i> Not Available</h4>
                <div id="unavailableLoading" style="padding: 20px; text-align:center; color:red"><i class="fas fa-spinner fa-spin fa-5x"></i></div>
                <div id="unavailablePrinters"></div>
            </div>
        </nav>
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html"><img src="~/assets/images/kidzania.png" width="125" height="30"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <a id="welcomeMsg"></a>
                        </li>
                        <li class="nav-item">
                            <a style="cursor:pointer;" id="logoutBtn" onclick="logout()">Log Out</a>
                        </li>
                        @if (@User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Register", "Register", "Home", new { area = "" }, null)
                            </li>
                        }
                    </ul>
                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right">
                        
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="menuDashboard" href="#" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-chart-line"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="menuItem" href="#" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-table"></i>Manage Items</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" id="menuHardcopy" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-print"></i><p id="Hardcopy">Hardcopy Printing</p></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="menuOthers" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-database"></i><p id="Keychain">Keychain, Magnet & Card</p> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="menuPaused" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-ban"></i>Paused Orders</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="dashboard-wrapper">
            @RenderBody()
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2020 Kidzania. All rights reserved.</a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper  -->
        <!-- ============================================================== -->
    </div>
    <style>
        .leftcol {
            margin-right: 35px;
            width: 35%;
        }

        .rightcol {
            width: 61%;
        }

        #cancelButton, #resumeButton {
            border-radius: 20px;
            font-size: 14px;
        }

        #cancelText {
            font-weight: bolder;
            color: red;
            padding-top: 10px;
        }

        #OD {
            color: #3ac47d;
        }

        #IC {
            color: #f6b313;
        }

        #NV {
            color: #5969ff;
        }

        .ODbox {
            padding-left: 16px;
        }

        .fa.fa-download.active {
            color: #366d29;
        }

        .fa.fa-trash.active {
            color: #d00909;
        }

        .print {
            margin-top: 11px;
        }
        #Hardcopy {
            margin-left: 24px;
            margin-top: -28px;
        }
        .gst {
            margin-top: 5px;
            text-align: right;
            padding-right: 20px;
        }

        #myInput {
            float: right;
            margin-top: 15px;
        }

        #searchCode, #searchCode2 {
            margin-left: 19px;
            font-size: 14px;
            font-family: 'Circular Std Regular';
        }

        .edit, .edit:hover {
            color: blue;
        }

        .dropdown-item {
            color: grey !important;
            text-decoration: line-through;
            background-color: transparent !important;
        }

            .dropdown-item.active {
                color: black !important;
                background-color: transparent !important;
            }
    </style>



    <script type="text/javascript">
        function logout() {
            // Log out from the cookie based logon.
            var token = sessionStorage.getItem("accessToken");
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $.ajax({
                type: 'POST',
                url: '/api/Account/Logout',
                headers: headers
            }).done(function (data) {
                sessionStorage.removeItem("staff");
                // Successfully logged out. Delete the token.
                window.location.href = "/Home/Login";
            }).fail(function (data) {
                console.log(data);
            });
        }
        $(document).ready(function () {
            var staff = JSON.parse(sessionStorage.getItem("staff"));
            $('#welcomeMsg').text(`Hi, ` + staff.name + `!`);
            $('#menuDashboard').click(function () {
                location.replace('/marketing/dashboard');
            })

            $('#menuItem').click(function () {
                location.replace('/itemmanagement/index');
            })

            $('#menuHardcopy').click(function () {
                location.replace('/printingmanagement/hardcopy');
            })


            $('#menuOthers').click(function () {
                location.replace('/printingmanagement/others');
            })

            $('#menuPaused').click(function () {
                location.replace('/printingmanagement/pausedorder');
            })


            $(".rotate").click(function () {
                $(this).toggleClass("down");
            })


            $('#dismiss, .overlay').on('click', function () {
                $('#rightsidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#rightsidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

</body>

</html>
